footer{
    background-color: $secondcolor;
    width:100%;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
    font-size: 10px;
    align-self:flex-end;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
}

.footer-content-container a:hover{
    color: white;
}