main{
    width: 100%;
    min-height: 100vh;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include reset;
    .sells{
        width: 100%;
        height: 24rem;
        display: flex;
        justify-content:space-around;  
        flex-direction: column;
        align-items: center;
        button {
            font-size: 18px;
            color: #e1e1e1;
            font-family: inherit;
            font-weight: 800;
            cursor: pointer;
            position: relative;
            border: none;
            background: none;
            text-transform: uppercase;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: color;
          }
        
            button:focus,
            button:hover {
            color: #fff;
            }
            
            button:focus:after,
            button:hover:after {
            width: 100%;
            left: 0%;
            }
            
            button:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #fff;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
        }
    }
    .scuby{
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
        height: 29.96rem;
        .shaggy{
            display: flex;
            
            justify-content: space-around;
            @include mota;
            margin-top: 1.75rem;
            margin-bottom: 1.25rem;
            
            @include mobile{
                width: 90%;
                padding: 0;
                justify-content: flex-start;
            }
            .sid{
                margin: 0.625rem;
                width: 5rem;
                height: 2.6rem;
            }
        }
        img{
            width: 3.125rem;
            height: 3.125rem;
        }
    }
    .grid-container{
        display: grid;
        gap: 0.625rem;
        grid-template-columns: repeat(auto-fit, minmax(216px, 1.4fr));
        margin-top: 3.6rem;
        .caja{
            background-color: white;
            border-radius: 8px;
            color: black;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: $fontsize;
            margin: 10px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                a{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none
                    
                }
            }
            img{
                @include img;
                border-radius: 12px;
                
            }
            h3{
                margin: 0;
            }
            p{
                margin-bottom: 4px;
                margin-top: 0;
            }
            .jpg{
                @include jpg;
            }
            }
        }
    }

    .goal{
        width: 100%;
        min-height: 100vh;
        background-color: none;
        @include reset;
        justify-content: center;
        align-items: center;
        .ceniza{
            margin-top: 1.8rem;
            margin-bottom: 2.5rem;
            .btnjs{
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                margin-top: 80px;
                height: 25rem;
            }
            .funcionclientepide{
                display: flex;
                margin-top: 6.25rem;
                justify-content: center;
                .btn-clientepide{
                    font-size: 16px;
                    color: #e1e1e1;
                    font-family: inherit;
                    font-weight: 800;
                    cursor: pointer;
                    position: relative;
                    border: none;
                    background: none;
                    text-transform: uppercase;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: color;
                    }
                
                    button:focus,
                    button:hover {
                    color: #fff;
                    }
                    
                    button:focus:after,
                    button:hover:after {
                    width: 100%;
                    left: 0%;
                    }
                    
                    button:after {
                    content: "";
                    pointer-events: none;
                    bottom: -2px;
                    left: 50%;
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: width, left;
                };
            }
            @include tablethistoria {
                width: 80%;
                display: flex;
                justify-items: center;
                align-items: center;
            }
            .future{
                display: flex;
                height: 360px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: $fontcolor;
                width: 100%;
                @include tablethistoria {
                    width: 100%;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                }
                .cheap{
                    @include mota;
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    justify-content: space-between;
                    margin-bottom: 20px;

                }
                .cobrar{
                    width: 5rem;
                    height: 3.75rem;
                    border-radius: 8px;
                    margin: 6px;
                    @include tablethistoria{
                        width: 4.375rem;
                        height: 2.625rem;
                    }
                }
            }
        }
        .eyes{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(216px, 0.8fr));
            margin: 0;
            width: 40rem;
            justify-items: center;
            align-items: center;
            @include mediagridmobile{
                    grid-template-columns: 1fr; /* Cambia el diseño a una sola columna */
                    width: auto; /* Ajusta el ancho automáticamente */
            }
            @include mediagridtablet{
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas */
                width: 100%; /* Ajusta el ancho al 100% */
            }
            .box{
                background-color: white;
                border-radius: 8px;
                color: black;
                height: 12.5rem;
                width: 12.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
                padding: 0.25rem;
                @include mediagridtablet{
                    width: 10rem; /* Restablece el ancho de las cajas para tabletas y pantallas más grandes */
                }
                @include mediagridmobile{
                    width: 60%; /* Ajusta el ancho de las cajas */
                }
                    .button {
                        font-size: $fontsize;
                        --width: 100px;
                        --height: 35px;
                        --tooltip-height: 35px;
                        --tooltip-width: 90px;
                        --gap-between-tooltip-to-button: 18px;
                        --button-color: #222;
                        --tooltip-color: #fff;
                        width: var(--width);
                        height: var(--height);
                        background: var(--button-color);
                        position: relative;
                        text-align: center;
                        border-radius: 0.45em;
                        font-family: "Arial";
                        transition: background 0.3s;
                        margin: 4px;
                    }
                    
                    .button::before {
                        position: absolute;
                        content: attr(data-tooltip);
                        width: var(--tooltip-width);
                        height: var(--tooltip-height);
                        background-color: #555;
                        font-size: 0.9rem;
                        color: #fff;
                        border-radius: .25em;
                        line-height: var(--tooltip-height);
                        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
                        left: calc(50% - var(--tooltip-width) / 2);
                    }
                    
                    .button::after {
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-top-color: #555;
                        left: calc(50% - 10px);
                        bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
                    }
                    
                    .button::after,.button::before {
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.5s;
                    }
                    
                    .text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .button-wrapper,.text,.icon {
                        overflow: hidden;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        color: #fff;
                    }
                    
                    .text {
                        top: 0
                    }
                    
                    .text,.icon {
                        transition: top 0.5s;
                    }
                    
                    .icon {
                        color: #fff;
                        top: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .icon svg {
                        width: 24px;
                        height: 24px;
                    }
                    
                    .button:hover {
                        background: #222;
                    }
                    
                    .button:hover .text {
                        top: -100%;
                    }
                    
                    .button:hover .icon {
                        top: 0;
                    }
                    
                    .button:hover:before,.button:hover:after {
                        opacity: 1;
                        visibility: visible;
                    }
                    
                    .button:hover:after {
                        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
                    }
                    
                    .button:hover:before {
                        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
                    }
                    
                    
                    
                    
                .equis{
                    width: 7.5rem;
                }
                img{
                    @include img;
                }
                h3{
                    margin: 0;
                    font-size: 0.75rem;
                }
                .jpg{
                    @include jpg;
                }
                }
                
            } 
                .oferta{
                    margin: 22px 1.25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                text-decoration: none;
                @include tablethistoria {
                    flex-direction: column;
                    width: 100%;

                }
                .sale{
                    display: flex;
                    justify-items: center;
                        .btnsale{
                            font-size: 16px;
                            color: #e1e1e1;
                            font-family: inherit;
                            font-weight: 800;
                            cursor: pointer;
                            position: relative;
                            border: none;
                            background: none;
                            text-transform: uppercase;
                            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                            transition-duration: 400ms;
                            transition-property: color;
                            }
                        
                            button:focus,
                            button:hover {
                            color: #fff;
                            }
                            
                            button:focus:after,
                            button:hover:after {
                            width: 100%;
                            left: 0%;
                            }
                            
                            button:after {
                            content: "";
                            pointer-events: none;
                            bottom: -2px;
                            left: 50%;
                            position: absolute;
                            width: 0%;
                            height: 2px;
                            background-color: #fff;
                            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                            transition-duration: 400ms;
                            transition-property: width, left;
                        };
                    
                    
                }
                .box-oferta{
                display: flex;
                flex-direction:row;
                justify-content: space-around ;
                width: 80%;
                padding: 1.75rem;
                @include mediaboxoferta {
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    gap: 0.75rem;
                }
                @include tablethistoria {
                    width: 100%;
                }
                @include mobile{
                    flex-direction: column;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    gap: 1rem;
                }
                    .end{
                        display: flex;
                        flex-direction: column;
                        width: 9.6rem;
                        justify-content: center;
                        border-radius: 8px;
                        @include tablethistoria {
                            width: 8.75rem;
                        }
                        a{
                            text-decoration: none;
                        }
                        .conteinerimg{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                        }
                    }
                }
            }

            .labelsale{
                display: flex;
                flex-direction: column;
                margin-top: 9.5rem;
                margin-bottom: 9.5rem;
                justify-items: center;
                align-items: center;
                .imglabelsale{
                    img{
                        width: 2.5rem;
                    }
                }
                input{
                    @include mota;
                    border: $back;
                    width: 40%;
                    margin-top: 1rem;
                }
            }
        }

        .soda{
            font-size: $fontsize;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: $fontcolor;
            justify-content: flex-start;
            padding-top: 0.5rem;
            align-items: center;
            @include tablethistoria{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .yerba{
                width: 90%;
                @include reset;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include mobile{
                    width: 100%;
                    padding: 0;
                }
                @include tablethistoria{
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    justify-content: center;
                    align-items: center;
                    h2{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    p{
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .azucar{
                justify-content:flex-start;
                align-items: center;
                width: 70%;
                display: flex;
                flex-direction: column;
                margin-bottom: 4rem;
                @include mobile{
                    width: 100%;
                }
                .carousel{
                    
                    width: 60%;
                    display: flex; 
                    justify-content:center;
                    align-items: center;
                    height: 80%;
                    margin-top: 0.75rem;
                    img{
                        border-radius: 8px;
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                    }
                }
                .right{
                
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-end;
                    align-items: center;
                    margin-top: 12px;
                    margin-bottom: 2px;
                }
                .casa{
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .nata{
                padding: 6px;
                width: 90%;
                height: 24rem;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items:flex-start;
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


.ysy{
    display: flex;
    flex-direction: column;
    .trapo{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        margin: 0;
        @include reset;
        color: $fontcolor;
        @include tablethistoria{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .cup{
            display: flex;
            flex-direction: row;
            width: 98%;
            height: 400px;
            margin-top: 0.75rem;
            margin-bottom: 10px;
            @include tablethistoria{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                margin: 0;
                height: 50%;
            }
            .dillom{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                margin-right: 10px;
                padding:0 30px;
                height: 92%;
                @include mota;
                h2{
                    margin: 0;
                }
                @include tablethistoria{
                    width: 86%;
                    padding: 10px 10px;
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            img{
                height: 92%;
                width: 50%;
                border-radius: 8px;
                @include tablethistoria{
                    width: 90%;
                    height: 100%;
                }
            }
        }
        .stone{
            width: 98%;
            height: 400px;
            display: flex;
            @include tablethistoria{
                margin-top: 20px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                height: 50%;
                width: 90%;
            }
            img{
                width: 50%;
                height: 92%;
                border-radius: 8px;
                @include tablethistoria{
                    width: 90%;
                    margin-bottom: 20px;
                }
            }
            .rels{
                height: 90%;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center;
                margin-left: 10px;
                margin-bottom: 20px;
                padding:0 0.9375rem 0.625rem 0.9375rem;
                @include mota;
                @include tablethistoria{
                    width: 90%;
                    margin-left: 0;
                }
            }
        }
    }
}

.zeballos{
    min-width: 70%;
    display: flex;
    flex-direction: column;
    .hell{
        .taza{
            display: flex;
            margin-left: 0.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .taza img{
            display: flex;
            width: 3.125rem;
            height: 3.125rem;
        }
        .ring{
        
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fontcolor;
            .formulario{
                justify-content: center;
                align-items: center;
                color: $fontcolor;
                @include mota;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.5rem;
                @include mobile{
                    background: none;
                }
                input{
                    background: $back; 
                    width: $ancho; 
                    height: 2.5rem; 
                    border-radius: 0.3125rem;  
                    border-style: solid; 
                    border-width: 0.0625rem; 
                    border-color: $bordercolor; 
                    margin-top: 0.625rem;  
                    padding-left: 0.625rem;
                    margin-bottom: 1.25rem; 
                }
                textarea{
                        background: rgba(250, 250, 250, 0.2);
                        width: $ancho; 
                        height: 9.375rem; 
                        border-radius: 0.3125rem;  
                        border-style: solid; 
                        border-width: 0.0625rem; 
                        border-color: $bordercolor; 
                        margin-top: 0.625rem;  
                        padding-left: 0.625rem;
                        margin-bottom: 1.25rem; 
                        padding-top: 0.9375rem; 
                    }
                    label{
                        display: block; 
                            float: center; 	
                        }
                        button{
                            height: 2.8125rem; 
                            padding-left: 0.3125rem;
                            padding-right: 0.3125rem; 	
                            margin-bottom: 1.25rem; 
                            margin-top: 0.625rem; 	
                            text-transform: uppercase;
                            background: $back;
                            border-color: $bordercolor; 
                            border-style: solid; 
                            border-radius: 0.625rem;	
                            width: $ancho;   
                            cursor: pointer;
                        }
                        button p{
                            color: #fff; 
                        }
                        span{
                            color: #ab4493; 
                        }
                        .aviso{
                            font-size: 0.8125rem;  
                            color: #0e0e0e;  
                        }
                        
                    h1{
                        font-size: 2.4375rem;  
                        text-align: left; 
                        padding-bottom: 1.25rem; 
                        color: $fontcolor;
                    }
                    h3{
                        font-size: 0.875rem; 
                        padding-bottom: 1.875rem;
                        display: flex;
                        margin-left: 0.625rem;
                        align-items: center;
                        color: $fontcolor;   
                    }
                    p{
                        font-size: 0.875rem; 
                        color: $fontcolor; 
                    }
                    ::-webkit-input-placeholder {
                        color: #a8a8a8;
                        }
                        
                        
                        ::-webkit-textarea-placeholder {
                            color: #a8a8a8;
                        }
                        .formulario input:focus{
                            outline:0;
                            border: 0.0625rem solid #97d848;
                        }
                        .formulario textarea:focus{
                            outline:0;
                            border: 0.0625rem solid #97d848;
                        }
            }
        }
        .archivo{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.625rem;
        }
        .walk{
            width: 90%;
            margin-bottom: 3.75rem;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style:none;
            }
        }
        .contenido{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .sleep{
                @extend .contenido;
                width: 1.875rem;
                height: 1.875rem;
                margin: 0.375rem;
            }
        }
    }
}








