main{
    width: 100%;
    min-height: 100vh;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include reset;
    .btn{
        border: 4px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding: 1.25rem;
        margin-top: 1.875rem;

    }
    .sells{
        width: 100%;
        height: 24rem;
        display: flex;
        justify-content:space-around;  
        flex-direction: column;
        align-items: center;
        button {
            font-size: 18px;
            color: #e1e1e1;
            font-family: inherit;
            font-weight: 800;
            cursor: pointer;
            position: relative;
            border: none;
            background: none;
            text-transform: uppercase;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: color;
            }
        
            button:focus,
            button:hover {
            color: #fff;
            }
            
            button:focus:after,
            button:hover:after {
            width: 100%;
            left: 0%;
            }
            
            button:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #fff;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
        }
    }
    .scuby{
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
        height: 29.96rem;
        .shaggy{
            display: flex;
            
            justify-content: space-around;
            @include mota;
            margin-top: 1.75rem;
            margin-bottom: 1.25rem;
            
            @include mobile{
                width: 90%;
                padding: 0;
                justify-content: flex-start;
            }
            .sid{
                margin: 0.625rem;
                width: 5rem;
                height: 2.6rem;
            }
        }
        img{
            width: 3.125rem;
            height: 3.125rem;
        }
    }
    }

    .goal{
        width: 100%;
        min-height: 100vh;
        background-color: none;
        @include reset;
        justify-content: center;
        align-items: center;
        .ceniza{
            margin-top: 1.8rem;
            margin-bottom: 2.5rem;
            .btnjs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 3.125rem;
                height: 25rem;
            }
            
            .funcioncliente {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                align-items: center;
                width: 100%;
                max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
            }
            
            .funcionclientepide {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .funcionclientepide img {
                width: 50px;
                height: 50px;
            }
            
            .btn-clientepide {
                font-size: 16px;
                color: #e1e1e1;
                font-family: inherit;
                font-weight: 800;
                cursor: pointer;
                position: relative;
                border: none;
                background: none;
                text-transform: uppercase;
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
                transition-property: color;
            }
            
            .btn-clientepide:focus,
            .btn-clientepide:hover {
                color: #fff;
            }
            
            .btn-clientepide:focus:after,
            .btn-clientepide:hover:after {
                width: 100%;
                left: 0%;
            }
            
            .btn-clientepide:after {
                content: "";
                pointer-events: none;
                bottom: -2px;
                left: 50%;
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: #fff;
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
                transition-property: width, left;
            }
            }
            @include tablethistoria {
                width: 80%;
                display: flex;
                justify-items: center;
                align-items: center;
            }
            .future{
                display: flex;
                height: 360px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: $fontcolor;
                width: 100%;
                @include tablethistoria {
                    width: 100%;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                }
                .cheap{
                    @include mota;
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    justify-content: space-between;
                    margin-bottom: 20px;

                }
                .cobrar{
                    width: 5rem;
                    height: 3.75rem;
                    border-radius: 8px;
                    margin: 6px;
                    @include tablethistoria{
                        width: 4.375rem;
                        height: 2.625rem;
                    }
                }
            }
        }
        .eyes{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(216px, 0.8fr));
            margin: 0;
            width: 40rem;
            justify-items: center;
            align-items: center;
            @include mediagridmobile{
                    grid-template-columns: 1fr; /* Cambia el diseño a una sola columna */
                    width: auto; /* Ajusta el ancho automáticamente */
            }
            @include mediagridtablet{
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas */
                width: 100%; /* Ajusta el ancho al 100% */
            }
            .box{
                background-color: white;
                border-radius: 8px;
                color: black;
                height: 12.5rem;
                width: 12.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
                padding: 0.25rem;
                @include mediagridtablet{
                    width: 10rem; /* Restablece el ancho de las cajas para tabletas y pantallas más grandes */
                }
                @include mediagridmobile{
                    width: 60%; /* Ajusta el ancho de las cajas */
                }
                .equis{
                    width: 7.5rem;
                }
                img{
                    @include img;
                }
                h3{
                    margin: 0;
                    font-size: 0.75rem;
                }
                .jpg{
                    @include jpg;
                }
                }
                
            } 
                .oferta{
                    margin: 22px 1.25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                text-decoration: none;
                @include tablethistoria {
                    flex-direction: column;
                    width: 100%;

                }
                .sale{
                    display: flex;
                    justify-items: center;
                        .btnsale{
                            font-size: 16px;
                            color: #e1e1e1;
                            font-family: inherit;
                            font-weight: 800;
                            cursor: pointer;
                            position: relative;
                            border: none;
                            background: none;
                            text-transform: uppercase;
                            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                            transition-duration: 400ms;
                            transition-property: color;
                            }
                        
                            button:focus,
                            button:hover {
                            color: #fff;
                            }
                            
                            button:focus:after,
                            button:hover:after {
                            width: 100%;
                            left: 0%;
                            }
                            
                            button:after {
                            content: "";
                            pointer-events: none;
                            bottom: -2px;
                            left: 50%;
                            position: absolute;
                            width: 0%;
                            height: 2px;
                            background-color: #fff;
                            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                            transition-duration: 400ms;
                            transition-property: width, left;
                        };
                    
                    
                }
                .box-oferta{
                display: flex;
                flex-direction:row;
                justify-content:center ;
                width: 80%;
                padding: 1.75rem;
                @include mediaboxoferta {
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    gap: 0.75rem;
                }
                @include tablethistoria {
                    width: 100%;
                }
                @include mobile{
                    flex-direction: column;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    gap: 1rem;
                }
                .end {
                    display: flex;
                    flex-direction: column;
                    width: 9.6rem;
                    justify-content: center;
                    border-radius: 8px;
                    /* Aquí debes incluir el código correspondiente a tu mixin */
                }
                
                .end a {
                    text-decoration: none;
                    color: black;
                }
                
                .conteinerimg {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }
                #buttonContainer{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 2.25rem;
                }
                }
            }

            .labelsale{
                display: flex;
                flex-direction: column;
                margin-top: 9.5rem;
                margin-bottom: 9.5rem;
                justify-items: center;
                align-items: center;
                .btnsubmit{
                    margin-top: 0.5rem;
                }
                .imglabelsale{
                    img{
                        width: 2.5rem;
                    }
                }
                input{
                    @include mota;
                    border: $back;
                    width: 40%;
                    margin-top: 1rem;
                }
            }

        .soda{
            padding: 1.25rem;
            font-size: $fontsize;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: $fontcolor;
            justify-content: flex-start;
            padding-top: 0.5rem;
            align-items: center;
            @include tablethistoria{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .yerba{
                width: 90%;
                @include reset;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                @include mobile{
                    width: 100%;
                    padding: 0;
                }
                @include tablethistoria{
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    justify-content: center;
                    align-items: center;
                    h2{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    p{
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .azucar{
                justify-content:flex-start;
                align-items: center;
                width: 70%;
                display: flex;
                flex-direction: column;
                margin-bottom: 4rem;
                @include mobile{
                    width: 100%;
                }
                .carousel{
                    
                    width: 60%;
                    display: flex; 
                    justify-content:center;
                    align-items: center;
                    height: 80%;
                    margin-top: 0.75rem;
                    img{
                        border-radius: 8px;
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                    }
                }
                .right{
                
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-end;
                    align-items: center;
                    margin-top: 12px;
                    margin-bottom: 2px;
                }
                .casa{
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .nata{
                padding: 6px;
                width: 90%;
                height: 24rem;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items:flex-start;
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .adb{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include mota;
                width: 100%;
                height: 200px;
                margin-top: 4.625rem;
            }
        }


.ysy{
    display: flex;
    flex-direction: column;
    .trapo{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        margin: 0;
        @include reset;
        color: $fontcolor;
        @include tablethistoria{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .cup{
            display: flex;
            flex-direction: row;
            width: 98%;
            height: 400px;
            margin-top: 0.75rem;
            margin-bottom: 10px;
            @include tablethistoria{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                margin: 0;
                height: 50%;
            }
            .dillom{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                margin-right: 10px;
                padding:0 30px;
                height: 92%;
                @include mota;
                h2{
                    margin: 0;
                }
                @include tablethistoria{
                    width: 86%;
                    padding: 10px 10px;
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            img{
                height: 92%;
                width: 50%;
                border-radius: 8px;
                @include tablethistoria{
                    width: 90%;
                    height: 100%;
                }
            }
        }
        .stone{
            width: 98%;
            height: 400px;
            display: flex;
            @include tablethistoria{
                margin-top: 20px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                height: 50%;
                width: 90%;
            }
            img{
                width: 50%;
                height: 92%;
                border-radius: 8px;
                @include tablethistoria{
                    width: 90%;
                    margin-bottom: 20px;
                }
            }
            .rels{
                height: 90%;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center;
                margin-left: 10px;
                margin-bottom: 20px;
                padding:0 0.9375rem 0.625rem 0.9375rem;
                @include mota;
                @include tablethistoria{
                    width: 90%;
                    margin-left: 0;
                }
            }
        }
    }
}

    .zeballos{
        min-width: 70%;
        display: flex;
        flex-direction: column;
        .popup{
            margin-top: 12.5rem;
            margin-bottom: 6.25rem;
        }
        h1{ margin: 0;
            color: black;}
        #contact { 
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
            margin: 4em auto;
            width: 6.25rem; 
            height: 1.875rem; 
            line-height: 1.875rem;
            @include mota;
            color: white;
            font-weight: 700;
            cursor: pointer;
            border: 1px solid white;
            display: flex;
            justify-content: center; /* Asegúrate de usar 'justify-content' en lugar de 'justify-items' para centrar horizontalmente el contenido */
            align-items: center; /* Agrega 'align-items' para centrar verticalmente si es necesario */
        }
        
        #contact span {
            text-align: center; /* Aplica text-align directamente al elemento de texto */
        }

    #contact:hover { background: #666; }
    #contact:active { background: #444; }

    #contactForm { 
    display: none;
        border-radius: 0.5rem;
    border: 0.125rem solid white; 
    padding: 2em;
    width: auto;
    text-align: center;
    @include mota;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
    
    }

    input, textarea { 
    margin: .8em auto;
    font-family: inherit; 
    text-transform: inherit; 
    font-size: inherit;
    cursor: pointer;
    display: block; 
    width: 280px; 
    padding: .4em;
    @include mota;
    }
    textarea { height: 80px; resize: none; }

    .formBtn { 
        border-radius: 0.5rem;
        width: 140px;
        padding: 2px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.1);
        color: black;
        font-weight: 100;
        font-size: 0.875rem;
        border: none;
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 30px; /* Alinea verticalmente el texto en el centro */
    }
    .hell{
        margin-top: 1rem;
        padding: 1.125rem;
        display: flex;
        flex-direction: column;
        .taza{
            display: flex;
            margin-left: 0.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .taza img{
            display: flex;
            width: 3.125rem;
            height: 3.125rem;
        }
        .ring{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fontcolor;
            }
            
        }

        .archivo{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.625rem;
        }
        .walk{
            width: 90%;
            margin-bottom: 3.75rem;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style:none;
            }
        }
        .contenido{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .sleep{
                @extend .contenido;
                width: 1.875rem;
                height: 1.875rem;
                margin: 0.375rem;
            }
        }
        
    }

    .bodyturno{
        background: black;
        display: flex;
        flex-direction: column;
        .conteinerimgturno{
            height: 31.25rem;
            margin-bottom: 0.875rem;
            background-image: url("../assets/img/fondooooo.png");
            background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
            background-position: center; /* Alinea la imagen al centro */
            background-repeat: no-repeat; /* Evita la repetición de la imagen */
        }
        .reservaTurno{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h1{ margin: 0; }
            #contact { 
                -webkit-user-select: none; /* Chrome/Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+ */
                margin: 4em auto;
                width: 6.25rem; 
                height: 1.875rem; 
                line-height: 1.875rem;
                @include mota;
                color: white;
                font-weight: 700;
                cursor: pointer;
                border: 1px solid white;
                display: flex;
                justify-content: center; /* Asegúrate de usar 'justify-content' en lugar de 'justify-items' para centrar horizontalmente el contenido */
                align-items: center; /* Agrega 'align-items' para centrar verticalmente si es necesario */
            }

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
    display: none;
        border-radius: 0.5rem;
    border: 0.125rem solid white; 
    padding: 0.5rem;
    width: auto;
    text-align: center;
    @include mota;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
    
    }

    input, textarea { 
        margin: .8em auto;
        font-family: inherit; 
        text-transform: inherit; 
        font-size: inherit;
        display: block; 
        width: 280px; 
        padding: .4em;
        @include mota;
        }
textarea { height: 80px; resize: none; }

.formBtn { 
    border-radius: 0.5rem;
    width: 140px;
    padding: 2px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    font-weight: 100;
    font-size: 0.875rem;
    cursor: pointer;
    border: 1px solid white;
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 30px; /* Alinea verticalmente el texto en el centro */
}
.conteinerform{
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .infoturnos{
        border: 1px solid rgb(132, 0, 255);
        @include mota;
        padding: 0.375rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
        }
        }

        .labialesStore{
            border: 4px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            .verCarrito {
                border: 4px solid green;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 1.5rem;
                padding: 1.125rem;
                .carritoContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1.125rem;
                    flex-wrap: wrap;
                }
            }
            
            .title{
                border: 4px solid yellow;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1.5rem;
            }
            .conteinerlabiales {
                border: 4px solid blue;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
            
                .card-container {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
            
                .card {
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    padding: 16px;
                    text-align: center;
                    width: 8.75rem;
                    margin: 1.25rem;
            
                    img {
                        width: 100%;
                        height: 9.375rem; // Establece la altura deseada
                        object-fit: cover; // Ajusta la imagen al tamaño del contenedor sin distorsionarse
                        border-radius: 8px; // Añade bordes redondeados si es necesario
                    }
            
                    &Button {
                        margin-top: 10px;
                    }
                }
            
                .cart-container {
                    margin-top: 20px;
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 8px;
            
                    h2 {
                        margin-bottom: 10px;
                    }
                }
            }
            
        }









