@mixin reset(){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin caja(){
    background-color: white;
    border-radius: 8px;
    border: 4px solid red;
    color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $fontsize;
    margin: 10px;
}

@mixin img(){
    width: 30%;
    height: 82%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

@mixin jpg(){
    width: 86%;
    height: 86%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

@mixin mobile{
    @media screen and (max-width:330px){
        @content;
    }
}

@mixin tablethistoria{
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin mota{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    backdrop-filter: blur(1px);
}