@charset "UTF-8";
/* Para dispositivos móviles y tabletas pequeñas con grid */
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 2px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
header a {
  text-decoration: none;
  color: white;
}
header .logo {
  justify-content: center;
  padding: 2px 2px;
  display: flex;
  align-items: center;
}
header .logo h1 {
  font-size: 24px;
  margin-top: 18px;
  color: white;
}
header .logo img {
  height: 40px;
  width: 15%;
  margin-right: 10px;
  margin-top: 8px;
  margin-left: 8px;
}

.nave a:hover {
  color: grey;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../assets/img/fondooooo.png) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: "Bricolage Grotesque", sans-serif;
}

footer {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
  font-size: 10px;
  align-self: flex-end;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer-content-container a:hover {
  color: grey;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main .sells {
  width: 100%;
  height: 24rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
main .sells button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
main .sells button:focus,
main .sells button:hover {
  color: #fff;
}
main .sells button:focus:after,
main .sells button:hover:after {
  width: 100%;
  left: 0%;
}
main .sells button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
main .scuby {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  height: 29.96rem;
}
main .scuby .shaggy {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 330px) {
  main .scuby .shaggy {
    width: 90%;
    padding: 0;
    justify-content: flex-start;
  }
}
main .scuby .shaggy .sid {
  margin: 0.625rem;
  width: 5rem;
  height: 2.6rem;
}
main .scuby img {
  width: 3.125rem;
  height: 3.125rem;
}
main .grid-container {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1.4fr));
  margin-top: 3.6rem;
}
main .grid-container .caja {
  background-color: white;
  border-radius: 8px;
  color: black;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 10px;
}
main .grid-container .caja button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
main .grid-container .caja button a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .grid-container .caja img {
  width: 10%;
  height: 82%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  border-radius: 12px;
}
main .grid-container .caja h3 {
  margin: 0;
}
main .grid-container .caja p {
  margin-bottom: 4px;
  margin-top: 0;
}
main .grid-container .caja .jpg {
  width: 86%;
  height: 86%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.goal {
  width: 100%;
  min-height: 100vh;
  background-color: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.goal .ceniza {
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
}
.goal .ceniza .btnjs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
  height: 25rem;
}
.goal .ceniza .funcionclientepide {
  display: flex;
  margin-top: 6.25rem;
  justify-content: center;
}
.goal .ceniza .funcionclientepide .btn-clientepide {
  font-size: 16px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.goal .ceniza .funcionclientepide button:focus,
.goal .ceniza .funcionclientepide button:hover {
  color: #fff;
}
.goal .ceniza .funcionclientepide button:focus:after,
.goal .ceniza .funcionclientepide button:hover:after {
  width: 100%;
  left: 0%;
}
.goal .ceniza .funcionclientepide button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
@media screen and (max-width: 768px) {
  .goal .ceniza {
    width: 80%;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
.goal .ceniza .future {
  display: flex;
  height: 360px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .goal .ceniza .future {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
.goal .ceniza .future .cheap {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  margin-bottom: 20px;
}
.goal .ceniza .future .cobrar {
  width: 5rem;
  height: 3.75rem;
  border-radius: 8px;
  margin: 6px;
}
@media screen and (max-width: 768px) {
  .goal .ceniza .future .cobrar {
    width: 4.375rem;
    height: 2.625rem;
  }
}
.goal .eyes {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(216px, 0.8fr));
  margin: 0;
  width: 40rem;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .goal .eyes {
    grid-template-columns: 1fr; /* Cambia el diseño a una sola columna */
    width: auto; /* Ajusta el ancho automáticamente */
  }
}
@media screen and (max-width: 768px) {
  .goal .eyes {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas */
    width: 100%; /* Ajusta el ancho al 100% */
  }
}
.goal .eyes .box {
  background-color: white;
  border-radius: 8px;
  color: black;
  height: 12.5rem;
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0.25rem;
}
@media screen and (max-width: 768px) {
  .goal .eyes .box {
    width: 10rem; /* Restablece el ancho de las cajas para tabletas y pantallas más grandes */
  }
}
@media screen and (max-width: 320px) {
  .goal .eyes .box {
    width: 60%; /* Ajusta el ancho de las cajas */
  }
}
.goal .eyes .box .button {
  font-size: 16px;
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  margin: 4px;
}
.goal .eyes .box .button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}
.goal .eyes .box .button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}
.goal .eyes .box .button::after, .goal .eyes .box .button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.goal .eyes .box .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal .eyes .box .button-wrapper, .goal .eyes .box .text, .goal .eyes .box .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}
.goal .eyes .box .text {
  top: 0;
}
.goal .eyes .box .text, .goal .eyes .box .icon {
  transition: top 0.5s;
}
.goal .eyes .box .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal .eyes .box .icon svg {
  width: 24px;
  height: 24px;
}
.goal .eyes .box .button:hover {
  background: #222;
}
.goal .eyes .box .button:hover .text {
  top: -100%;
}
.goal .eyes .box .button:hover .icon {
  top: 0;
}
.goal .eyes .box .button:hover:before, .goal .eyes .box .button:hover:after {
  opacity: 1;
  visibility: visible;
}
.goal .eyes .box .button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}
.goal .eyes .box .button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
.goal .eyes .box .equis {
  width: 7.5rem;
}
.goal .eyes .box img {
  width: 10%;
  height: 82%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.goal .eyes .box h3 {
  margin: 0;
  font-size: 0.75rem;
}
.goal .eyes .box .jpg {
  width: 86%;
  height: 86%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.goal .oferta {
  margin: 22px 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .goal .oferta {
    flex-direction: column;
    width: 100%;
  }
}
.goal .oferta .sale {
  display: flex;
  justify-items: center;
}
.goal .oferta .sale .btnsale {
  font-size: 16px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.goal .oferta .sale button:focus,
.goal .oferta .sale button:hover {
  color: #fff;
}
.goal .oferta .sale button:focus:after,
.goal .oferta .sale button:hover:after {
  width: 100%;
  left: 0%;
}
.goal .oferta .sale button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.goal .oferta .box-oferta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding: 1.75rem;
}
@media screen and (max-width: 456px) {
  .goal .oferta .box-oferta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  .goal .oferta .box-oferta {
    width: 100%;
  }
}
@media screen and (max-width: 330px) {
  .goal .oferta .box-oferta {
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }
}
.goal .oferta .box-oferta .end {
  display: flex;
  flex-direction: column;
  width: 9.6rem;
  justify-content: center;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .goal .oferta .box-oferta .end {
    width: 8.75rem;
  }
}
.goal .oferta .box-oferta .end a {
  text-decoration: none;
}
.goal .oferta .box-oferta .end .conteinerimg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.goal .labelsale {
  display: flex;
  flex-direction: column;
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
  justify-items: center;
  align-items: center;
}
.goal .labelsale .btnsubmit {
  margin-top: 0.5rem;
}
.goal .labelsale .imglabelsale img {
  width: 2.5rem;
}
.goal .labelsale input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: rgba(250, 250, 250, 0.2);
  width: 40%;
  margin-top: 1rem;
}
.goal .ejemploDom {
  border: 4px solid red;
  width: 25rem;
  height: 25rem;
}
.goal .ejemploDom .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goal .ejemploDom .card-title {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 0.375rem;
  font-size: 24px;
  margin-bottom: 10px;
}
.goal .ejemploDom .card-text {
  font-size: 16px;
  color: #666;
}

.soda {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  justify-content: flex-start;
  padding-top: 0.5rem;
  align-items: center;
}
.soda .adb {
  border: 4px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .soda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.soda .yerba {
  width: 90%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 330px) {
  .soda .yerba {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .soda .yerba {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .soda .yerba h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .soda .yerba p {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.soda .azucar {
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media screen and (max-width: 330px) {
  .soda .azucar {
    width: 100%;
  }
}
.soda .azucar .carousel {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: 0.75rem;
}
.soda .azucar .carousel img {
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.soda .azucar .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 2px;
}
.soda .azucar .casa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soda .nata {
  padding: 6px;
  width: 90%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.soda .nata .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ysy {
  display: flex;
  flex-direction: column;
}
.ysy .trapo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
@media screen and (max-width: 768px) {
  .ysy .trapo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.ysy .trapo .cup {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 400px;
  margin-top: 0.75rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .ysy .trapo .cup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50%;
  }
}
.ysy .trapo .cup .dillom {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 0 30px;
  height: 92%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.ysy .trapo .cup .dillom h2 {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .ysy .trapo .cup .dillom {
    width: 86%;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.ysy .trapo .cup img {
  height: 92%;
  width: 50%;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .ysy .trapo .cup img {
    width: 90%;
    height: 100%;
  }
}
.ysy .trapo .stone {
  width: 98%;
  height: 400px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .ysy .trapo .stone {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;
  }
}
.ysy .trapo .stone img {
  width: 50%;
  height: 92%;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .ysy .trapo .stone img {
    width: 90%;
    margin-bottom: 20px;
  }
}
.ysy .trapo .stone .rels {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 0 0.9375rem 0.625rem 0.9375rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
@media screen and (max-width: 768px) {
  .ysy .trapo .stone .rels {
    width: 90%;
    margin-left: 0;
  }
}

.zeballos {
  min-width: 70%;
  display: flex;
  flex-direction: column;
}
.zeballos .popup {
  margin-top: 12.5rem;
  margin-bottom: 6.25rem;
}
.zeballos h1 {
  margin: 0;
  color: black;
}
.zeballos #contact {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 6.25rem;
  height: 1.875rem;
  line-height: 1.875rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid white;
  display: flex;
  justify-content: center; /* Asegúrate de usar 'justify-content' en lugar de 'justify-items' para centrar horizontalmente el contenido */
  align-items: center; /* Agrega 'align-items' para centrar verticalmente si es necesario */
}
.zeballos #contact span {
  text-align: center; /* Aplica text-align directamente al elemento de texto */
}
.zeballos #contact:hover {
  background: #666;
}
.zeballos #contact:active {
  background: #444;
}
.zeballos #contactForm {
  display: none;
  border-radius: 0.5rem;
  border: 0.125rem solid white;
  padding: 2em;
  width: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.zeballos input, .zeballos textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  cursor: pointer;
  display: block;
  width: 280px;
  padding: 0.4em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.zeballos textarea {
  height: 80px;
  resize: none;
}
.zeballos .formBtn {
  border-radius: 0.5rem;
  width: 140px;
  padding: 2px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  font-weight: 100;
  font-size: 0.875rem;
  border: none;
  text-align: center; /* Centra el texto horizontalmente */
  line-height: 30px; /* Alinea verticalmente el texto en el centro */
}
.zeballos .hell {
  margin-top: 1rem;
  padding: 1.125rem;
  display: flex;
  flex-direction: column;
}
.zeballos .hell .taza {
  display: flex;
  margin-left: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zeballos .hell .taza img {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
}
.zeballos .hell .ring {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.zeballos .archivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.625rem;
}
.zeballos .walk {
  width: 90%;
  margin-bottom: 3.75rem;
}
.zeballos .walk ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.zeballos .contenido, .zeballos .contenido .sleep {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.zeballos .contenido .sleep {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.375rem;
}

.bodyturno {
  background: black;
  display: flex;
  flex-direction: column;
}
.bodyturno .conteinerimgturno {
  height: 31.25rem;
  margin-bottom: 0.875rem;
  background-image: url("../assets/img/fondooooo.png");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Alinea la imagen al centro */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
.bodyturno .reservaTurno {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bodyturno .reservaTurno h1 {
  margin: 0;
}
.bodyturno .reservaTurno #contact {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 6.25rem;
  height: 1.875rem;
  line-height: 1.875rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid white;
  display: flex;
  justify-content: center; /* Asegúrate de usar 'justify-content' en lugar de 'justify-items' para centrar horizontalmente el contenido */
  align-items: center; /* Agrega 'align-items' para centrar verticalmente si es necesario */
}
.bodyturno .reservaTurno #contact:hover {
  background: #666;
}
.bodyturno .reservaTurno #contact:active {
  background: #444;
}
.bodyturno .reservaTurno #contactForm {
  display: none;
  border-radius: 0.5rem;
  border: 0.125rem solid white;
  padding: 0.5rem;
  width: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.bodyturno .reservaTurno input, .bodyturno .reservaTurno textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  display: block;
  width: 280px;
  padding: 0.4em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.bodyturno .reservaTurno textarea {
  height: 80px;
  resize: none;
}
.bodyturno .reservaTurno .formBtn {
  border-radius: 0.5rem;
  width: 140px;
  padding: 2px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  font-weight: 100;
  font-size: 0.875rem;
  cursor: pointer;
  border: 1px solid white;
  text-align: center; /* Centra el texto horizontalmente */
  line-height: 30px; /* Alinea verticalmente el texto en el centro */
}
.bodyturno .reservaTurno .conteinerform {
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyturno .reservaTurno .conteinerform .infoturnos {
  border: 1px solid rgb(132, 0, 255);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */